
.summary-card {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.summary-wrapper {
  height: 90%;
  padding: 2% 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

ul {
  list-style-type: none;
  font-family: HankenGrotesk-bold;
}
#notas {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.mid-wrapper {
  height: 60%;
  display: flex;
  justify-content: center;
}

.total {
    display: flex;
}

button {
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: hsl(224, 30%, 27%);
  font-family: HankenGrotesk-bold;
  font-size: 15px;
  color: hsl(0, 0%, 100%);
}

button:hover {
  cursor: pointer;
  background-color: hsl(224, 40%, 57%);
  color: hsl(224, 30%, 27%);
  transition: 300ms;
}

.linha.show {
  opacity: 100%;
}